---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Legume">
  <header class="p-5">
    <h1 class="font-bold tracking-wide text-lg mb-2">Legumé</h1>
    <p class="flex items-end tracking-wide">
      The fanciest f<span class="leading-none">***</span>ing resume engine on
      the web.
    </p>
    <a href="/u/danielvaughn" class="text-blue-700 underline">See an example</a>
  </header>
</Layout>
