---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Legume">
  <header class="p-5">
    <h1 class="font-bold tracking-wide text-lg mb-2">Legumé</h1>
    <p class="flex items-end tracking-wide">An experimental resume engine.</p>
    <a href="/resume/danielvaughn" class="text-blue-700 underline">
      See an example
    </a>
  </header>
</Layout>

<style>
  .negatives li {
    @apply flex items-center gap-x-2;
  }

  .negatives li:before {
    @apply block leading-none mt-[2px];
    content: "❌";
    font-size: 7px;
  }
</style>
